@use "../../../assets/scss/abstracts/colors" as *;
@import "../../../assets/scss/variables.modules";

header {
  position: fixed;
  width: 100%;
  background: $background-light;
  nav {
    padding: 20px 100px;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2%;
      li {
        a {
          font-family: "Poppins",sans-serif;
          text-transform: capitalize;
          color: $links-color;
          font-size: 1.1rem;
          cursor: pointer;
          position: relative;
          &:hover::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            background: $primary;
            width: 30%;
            border-radius: 6px;
            height: 3px;
            transform: scaleY(1);
            transition: transform 0.5s;
          }

        }



        &:first-child {
          margin-right: 10%;
        }

        &:last-child {
          margin-left: 30%;

          button {
            border: 2px solid;
            border-radius: 25px;

            &:hover {
              border-width: 2px;
            }
          }
        }
      }

    }
  }
}